{% extends "bootstrap/base.html" %}
<head>
	<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
{% block content %}
	<link rel="icon" href="{{ url_for('static', filename='images/Logo.png') }}" type="image/x-icon"/>

	<div class="panel panel-default">
		<div class="panel-heading"><center><img src="static/images/Logo.png" width="8%" height="8%"/></center><h1 style="text-align:center;">{{ title }}</h1></div>
	</div>
<div class="jumbotron">
            <p class="lead"></p>
            <center><p><a class="btn btn-lg btn-success" href="showMyRS" role="button">My Recommender System</a></p><p><a class="btn btn-lg btn-success" href="showRSBC" role="button">Content-based recommenders</a></center>
            </p>
        </div>

{% endblock %}
