{% extends "bootstrap/base.html" %}
<head>
	<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading"><center><img src="static/images/Logo.png" width="8%" height="8%"/></center><h1 style="text-align:center;">{{ title }}</h1></div>
	</div>
	<div class="panel-body">
			<h3 style="text-align:center;">Most rated</h3>
		</div>
	<table class="table table-striped">
		<tr>
			<th class="text-center">Name</th>
			<th class="text-center">Alcohol</th>
			<th class="text-center">Smoker Area</th>
			<th class="text-center">Budget</th>
			<th class="text-center">Dress</th>
			<th class="text-center">Parking</th>
		</tr>
		{% for adv in res %}
		<tr>
			<td class="text-center">{{ adv[0] }}</td>
			<td class="text-center">{{ adv[1] }}</td>
			<td class="text-center">{{ adv[2] }}</td>
			<td class="text-center">{{ adv[3] }}</td>
			<td class="text-center">{{ adv[4] }}</td>
			<td class="text-center">{{ adv[5] }}</td>
		</tr>
		{% endfor %}
	</table>
	<div class="panel-body">
			<h3 style="text-align:center;">Highest mean rating</h3>
		</div>
	<table class="table table-striped">
		<tr>
			<th class="text-center">Name</th>
			<th class="text-center">Alcohol</th>
			<th class="text-center">Smoker Area</th>
			<th class="text-center">Budget</th>
			<th class="text-center">Dress</th>
			<th class="text-center">Parking</th>
		</tr>
		{% for adv in res2 %}
		<tr>
			<td class="text-center">{{ adv[0] }}</td>
			<td class="text-center">{{ adv[1] }}</td>
			<td class="text-center">{{ adv[2] }}</td>
			<td class="text-center">{{ adv[3] }}</td>
			<td class="text-center">{{ adv[4] }}</td>
			<td class="text-center">{{ adv[5] }}</td>
		</tr>
		{% endfor %}
	</table>
	<div class="panel-body">
			<h3 style="text-align:center;">Highest mean rating by food</h3>
		</div>
	<table class="table table-striped">
		<tr>
			<th class="text-center">Name</th>
			<th class="text-center">Alcohol</th>
			<th class="text-center">Smoker Area</th>
			<th class="text-center">Budget</th>
			<th class="text-center">Dress</th>
			<th class="text-center">Parking</th>
		</tr>
		{% for adv in res3 %}
		<tr>
			<td class="text-center">{{ adv[0] }}</td>
			<td class="text-center">{{ adv[1] }}</td>
			<td class="text-center">{{ adv[2] }}</td>
			<td class="text-center">{{ adv[3] }}</td>
			<td class="text-center">{{ adv[4] }}</td>
			<td class="text-center">{{ adv[5] }}</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}
